@model CalculationAnnuityPayment.Models.ViewModel

@{
    ViewData["Title"] = "CalculationResults";
}

<h1>CalculationResults</h1>


<div>
    <table>
        <tr>
            <th>№</th>
            <th>Дата платежа</th>
            <th>Сумма платежа</th>
            <th>Основной долг</th>
            <th>Проценты</th>
            <th>Остаток долга</th>
        </tr>
    </table>
    <a asp-action="CreditData">Back to List</a>
</div>
