@model AnnuityPaymentModel
<form class="needs-validation" asp-controller="AnnuityPayment" asp-action="CreditData" method="post" novalidate>
    <div class="col">
        <div class="col-md-6 mb-3">
            <label for="firstName">Сумма кредита</label>
            <input type="text" class="form-control " asp-for="creditAmount" placeholder="до 1000000" value="" required>
            <span asp-validation-for="creditAmount" class="text-danger"></span>

        </div>
        <div class="col-md-6 mb-3">
            <label for="lastName">Процентная ставка</label>
            <input type="text" class="form-control " asp-for="percentRate" placeholder="" value="" required>
            <span asp-validation-for="percentRate" class="text-danger"></span>

        </div>
        <div class="col-md-6 mb-3">
            <label for="lastName">Срок кредитования в месяцах</label>
            <input type="text" class="form-control " asp-for="numberOfMonths" placeholder="" value="" required>
            <span asp-validation-for="numberOfMonths" class="text-danger"></span>

        </div>
    </div>
    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
</form>