<form class="needs-validation" novalidate>
    <div class="col">
        <div class="col-md-6 mb-3">
            <label for="firstName">Сумма кредита</label>
            <input type="text" class="form-control" id="creditAmount" placeholder="до 1000000" value="" required>
            <div class="invalid-feedback">
                Введите сумму кредита
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="lastName">Процентная ставка</label>
            <input type="text" class="form-control" id="percentRate" placeholder="" value="" required>
            <div class="invalid-feedback">
                Введите процентную ставку
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <label for="lastName">Срок кредитования в месяцах</label>
            <input type="text" class="form-control" id="numberOfMonths" placeholder="" value="" required>
            <div class="invalid-feedback">
                введите срок кредитования
            </div>
        </div>
    </div>
    <hr class="mb-4">
    <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
</form>