@model ExtendedAnnuityPaymentModel


    <form class="needs-validation" asp-controller="AnnuityPayment" asp-action="ExtendedCreditData" method="post" novalidate>
        <div class="col">
            <div class="col-md-6 mb-3">
                <label for="firstName">Сумма кредитования</label>
                <input type="text" class="form-control " asp-for="creditAmount" placeholder="от 10000 до 10000000" value="" required>
                <span asp-validation-for="creditAmount" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label for="lastName">Процентная ставка</label>
                <input type="text" class="form-control " asp-for="percentRate" placeholder="" value="" required>
                <span asp-validation-for="percentRate" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label for="lastName">Срок кредитования в днях</label>
                <input type="text" class="form-control " asp-for="LoanTerm" placeholder="" value="" required>
                <span asp-validation-for="LoanTerm" class="text-danger"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label for="lastName">Шаг платежа</label>
                <input type="text" class="form-control " asp-for="paymentStep" placeholder="" value="" required>
                <span asp-validation-for="paymentStep" class="text-danger"></span>
            </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
    </form>
